export(simctest,getalgprecomp,getalgonthefly,mcp,mkdeltamid)
export(mmctest,hBH,hPC,hBonferroni,mmctSampler)
export(mctest,mctest.RL,mctest.simctest,J,Jstar,print.mctestres)
S3method(print,mctestres)
#S3method(confint,sampalgres)
importFrom("graphics", "hist")
import("methods")
import("stats")
exportClasses("sampalg",
              "sampalgonthefly",
              "sampalgPrecomp",
              "sampalgres",
              "sampalgontheflyres",
              "mcpres",
	      "mmctSamplerGeneric",
	      "mmctSampler",
	      "mmctestres",
	      "mmctest"
              )
S3method(summary,mmctestres)
exportMethods(run,cont,getbounds,show,confint,getU,getL,pEstimate,rejProb,confidenceLimits,testResult,summary.mmctestres,getSamples,getNumber)
useDynLib("simctest",.registration = TRUE)
